body {
            font-family: sans-serif;
        }

        section {
            margin-bottom: 20px;
        }

        h4 {
            background-color: aliceblue;
            padding: 5px;
            margin-bottom: 20px;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
        }

        p {
            font-size: 20px;
            text-align: justify;
        }

        table {
            font-size: 20px;
            text-align: center;
        }

        i {
            display: inline-block;
            margin-right: 10px;
            margin-left: 10px;

        }

        ul li {
            font-size: 20px;
        }

        ol li {
            font-size: 20px;
        }

        ol span {
            font-style: italic;
            font-weight: bold;
            color: blue;
        }

        hr {
            border: 2px solid black;
        }

        h3 {
            font-family: 'Times New Roman', Times, serif;
        }

        .row .col-md-10 {
            text-align: right;
        }

        th {
            color: #007bff;
        }

        .tech {
            font-weight: bold;
            font-size:20px;
            text-align: center;
        }

.profile {
    position: relative;
    background-color: #4682bf;
    padding: 2rem 1rem;
    margin-bottom: 50px;
    text-align: center;
    user-select: none;
}
.photo img {
    width: 15%;
    border-radius: 50%;
}
.bio .name {
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-gray-light-1);
    margin: 0;
    margin-top: 1rem;
}
.bio .profession {
    font-size: 1rem;
    text-align: center;
    color: var(--color-gray-light-1);
    margin: 0;
}
        